@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.title {
  @apply text-2xl md:text-4xl font-semibold m-4 md:my-8
}

.button {
  @apply px-4 py-2 bg-[#5E00D6] text-slate-100 text-base md:text-xl font-bold rounded-md
}

.form {
  @apply border-2 w-[100%] border-gray-500 rounded-md p-2 my-2 focus:ring-purple-400 focus:border-[#5E00D6] outline-none
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
