@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  @apply text-2xl md:text-4xl font-semibold m-4 md:my-8;
}

.button {
  @apply px-6 py-2 bg-[#5E00D6] hover:bg-[#7447ae] text-slate-100 text-base md:text-xl font-bold rounded-3xl;
}

.form {
  @apply border-2 w-[100%] border-gray-500 rounded-md p-2 my-2 focus:ring-purple-400 focus:border-[#5E00D6] outline-none;
}

/* ------ Card */
.card {
  background-color: rgb(204, 255, 204);
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: block;
}

/* -----Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  margin: 0 3px 0 3px;
}

/* -----Text underline */
.text__underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: #5E00D6;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.text__underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------- Radio form */

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.input-container {
  position: relative;
  /* height: 80px;
  width: 80px; */
  margin: 0.5rem;
}

.input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.radio-tile {
  border: 2px solid #5E00D6;
  border-radius: 5px;
  /* padding: 24px; */
  width: 100%;
  height: 100%;
  transition: transform 100ms ease;
  overflow: hidden;
}

.radio-tile-label {
  text-align: center;
  padding: 12px 24px;
  /* font-size: 0.75rem;
  font-weight: 600; */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5E00D6;
}

.radio-button:checked + .radio-tile {
  background-color: #5E00D6;
  border: 2px solid #5E00D6;
  color: white;
  transform: scale(1.1, 1.1);
}

.radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #5E00D6;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
